<div class="min-h-screen flex items-center justify-center bg-white py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-black">
        Log in to your account
      </h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="loginCredential" class="sr-only">Username or Employee ID</label>
          <input id="loginCredential" name="loginCredential" type="text" formControlName="loginCredential" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-black placeholder-gray-500 text-black rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="Username or Employee ID">
          <div *ngIf="hasError('loginCredential', 'required')" class="text-red-500 text-sm mt-1">
            Username or Employee ID is required
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" formControlName="password" required
                 class="appearance-none rounded-none relative block w-full px-3 py-2 border border-black placeholder-gray-500 text-black rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                 placeholder="Password">
          <div *ngIf="hasError('password', 'required')" class="text-red-500 text-sm mt-1">
            Password is required
          </div>
          <div *ngIf="hasError('password', 'pattern')" class="text-red-500 text-sm mt-1">
            Password must meet the required pattern
          </div>
        </div>
      </div>

      <div>
        <button type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M9.293 2.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L13.586 11H4a1 1 0 010-2h9.586L9.293 3.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"/>
            </svg>
          </span>
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
